.search{
 

  grid-area: b;

  margin-top: 100px;
 
  .ui.form .fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
    margin: 0 -.5em 1em;
  }
}